body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

body #background {
  height: 100vh;
  width: 100vw;
  background-image: url('../img/background.png');
  background-position: left;
  background-size: cover;
  background-repeat: repeat-x;
}

.row#top {
	padding-top: 40px;
}

.image-link {
   position: relative; 
   color: #00FFFF;
   text-align: center;
}

.reveal-modal {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.subModal {
	vertical-align: top;
	float: right;
	font-size: 150%;
}

table {
	border: none;
}

.featuredimg {
	vertical-align: middle;
	width: 363px;
	height: 363px;
	text-align: center;
	/*display: inline;*/
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}