body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

body #background {
  height: 100vh;
  width: 100vw;
  background-image: url('background.jpg');
  background-position: bottom;
  background-size: cover;
}

.row#top {
	padding-top: 40px;
}

.image-link {
   position: relative; 
   color: #00FFFF;
   text-align: center;;
}